<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="Description" content="{{ .Description }}" />

        {{ if .IsHome }}
            <title>Crash Dive - Jonathon Smith</title>
        {{else}}
            <title>Crash Dive - Jonathon Smith - {{ .Page.Title }}</title>
        {{ end }}
    
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

        {{ $baseCss := resources.Get "css/base.css" | minify | fingerprint "sha512" }}
        <link href="{{ $baseCss.RelPermalink }}" rel="stylesheet" integrity="{{ $baseCss.Data.Integrity }}" crossorigin="anonymous" />

        {{ range .Params.css }}
            {{ $pageCss := resources.Get (print "css/" . ".css") | minify | fingerprint "sha512" }}
            <link href="{{ $pageCss.RelPermalink }}" rel="stylesheet" integrity="{{ $pageCss.Data.Integrity }}" crossorigin="anonymous" />
        {{ end }}

        {{ if isset .Params "js" }} 
            {{ range .Params.js }}
                {{ $js := resources.Get (print "js/" . ".js") | minify | fingerprint "sha512" }}
                <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
            {{ end }}
        {{ end }}
    </head>
    <body>
        <header>
            <button id="nav-button" type="button" aria-label="Opens navigation menu">
                <span id="nav-button-box">
                    <span id="nav-button-inner"></span>
                </span>
            </button>
            <div id="nav-menu-frame"></div>
            <nav id="nav-menu">
                <a href="/" {{ if .IsHome }} class="current-page" {{ end }}>Home</a>
                <a href="/about" {{ if eq .RelPermalink "/about/" }} class="current-page" {{ end }}>About</a>
                <a href="/contact" {{ if eq .RelPermalink "/contact/" }} class="current-page" {{ end }}>Contact</a>
                <div id="social-logos">
                    {{ $github := resources.Get "images/github.svg" | minify }}
                    {{ $stackOverflow := resources.Get "images/stack-overflow.svg" | minify }}
                    {{ $facebook := resources.Get "images/facebook.svg" | minify }}
                    {{ $linkedIn := resources.Get "images/linked-in.svg" | minify }}

                    <a id="linked-in-link" href="https://www.linkedin.com/in/jonathon-ronald-smith/">
                        <img src="{{ $linkedIn.RelPermalink }}" alt="LinkedIn logo" />
                    </a>
                    <a id="facebook-link" href="https://www.facebook.com/jonathon.ronald.smith/">
                        <img src="{{ $facebook.RelPermalink }}" alt="Facebook logo" />
                    </a>
                    <a id="github-link" href="https://github.com/crash-dive/">
                        <img src="{{ $github.RelPermalink }}" alt="GitHub logo" />
                    </a>
                    <a id="stack-overflow-link"  href="https://stackoverflow.com/story/crash-dive">
                        <img src="{{ $stackOverflow.RelPermalink }}" alt="Stack Overflow logo" />
                    </a>
                    <p class="social-name" id="linked-in-name">LinkedIn</p>
                    <p class="social-name" id="facebook-name">Facebook</p>
                    <p class="social-name" id="github-name">Github</p>
                    <p class="social-name" id="stack-overflow-name">Stack Overflow</p>
                </div>
            </nav>
        </header>
        <main>
            {{ block "main" . }}
                {{ .Content }}
            {{ end }}
        </main>
    </body>

    <script>
        let navButton = document.getElementById('nav-button');
        let navMenu = document.getElementById('nav-menu');
        let navMenuFrame = document.getElementById('nav-menu-frame');

        navButton.addEventListener('click', function() {
            if (navButton.classList.contains('is-active')) {
                navButton.classList.remove('is-active')
                navMenu.classList.remove('is-active')
                navMenuFrame.classList.remove('is-active')
            }
            else {
                navButton.classList.add('is-active');
                navMenu.classList.add('is-active');
                navMenuFrame.classList.add('is-active');
            }
        });
      </script>
</html>
