main {
    padding: 0 1% 1% 1%;
}

h1, h2, h3 {
    color:var(--dark-red);
    font-family: var(--arial-black);
}

main p, main ul {
    margin: 0;
}

.panel {
    background: #ddd;
    color: black;
    font-family: var(--arial);
    border: 1px solid var(--very-dark-red);
    border-radius: 10px;
}

h1 {
    font-size: 3em;
    font-family: var(--spantaran);
    text-align: center;
    margin: 0;
}

.tagline {
    text-align: center;
    font-size: 1.2em;
    font-family: var(--arial);
    font-weight: bold;
    padding: 0;
    color: white;
}

.key-skills {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    color: white;
    font-family: var(--arial);
}

    .key-skills li {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px 0 10px;
        margin: 0;
        text-align: center;
    }

#achievements-skills {
    margin-bottom: 10px;
}

    #achievements-skills h2 {
        text-align: center;
        border-bottom: 1px solid var(--very-dark-red);
        margin: 0 5px;
    }

    #achievements-skills ul {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom:10px;
    }

    #achievements-skills .skill-name {
        font: var(--arial-black);
        font-weight: bold;
    }

#tech-experience {
    padding: 0 5px 5px 5px;
}

    #tech-experience h2{
        text-align: center;
        border-bottom: 1px solid var(--very-dark-red);
        margin: 0;
    }

    .tech-sector h3 {
        text-align: center;
        border-bottom: 1px dashed var(--very-dark-red);
        margin: 0 5px;
    }

    .tech-logos {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
    }

        .tech-logos li {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
        }

        .tech-logos a {
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            transition: all .1s ease-in-out;
            font-style: italic;
            color: black;
        }

            .tech-logos a:hover {
                transform: scale(1.2); 
            }

            .tech-logos a img {
                max-width: 40px;
                max-height: 40px;
                margin-bottom: 2px;
            }


#contact-info {
    display: grid; 
    gap: 10px 10px; 
    margin-top: 10px;
}

    #contact-info section {
        display: flex;
        flex-direction: column;
    }

    #contact-info h2 {
        text-align: center;
        border-bottom: 1px solid var(--very-dark-red);
        margin: 0;
        margin: 0 5px;
    }

    #contact-info a,
    #contact-info p {
        color: black;
        font-size: 1.1em;
        display: block;
        margin: 0;
        padding: 10px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

        #contact-info a:hover {
            text-decoration: underline;
        }

#education {
    margin-top: 10px;
    padding: 0 10px 10px 10px;
}

    #education h2 {
        border-bottom: 1px solid var(--very-dark-red);
        margin: 0 0 5px 0;
    }

    #educators {
        list-style: none;
        padding: 0;
    }

        .educator {
            display: flex;
        }

        .educator-name-and-time {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .educator-logo {
            display: flex;
            align-items: center;
        }
            .educator-logo img {
                height: 3em;
            }

.employment-panel {
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 10px 10px 10px;
}

    .employment-panel h2{
        margin: 0;
    }
    
    .employer-and-time {
        display: flex;
        align-items: center;
        border-top: 1px solid var(--very-dark-red);
        border-bottom: 1px solid var(--very-dark-red);
        padding: 5px 0;
        margin: 5px 0;
    }
    
        .employer-logo {
            display: flex;
            align-items: center;
        }
        .employer-logo img {
            height: 2em;
        }

        .employer-name {
            font-weight: bold;
            display: block;
        }

        .employment-time,
        .employment-duration {
            font-style: italic;
        }

        .employment-description p {
            margin-bottom: 10px;
        }

            .employment-description p:last-child {
                margin-bottom: 0;
            }

        .employment-description li {
            margin-bottom: 5px;
        }

            .employment-skill {
                color: var(--dark-red);
                font-family: var(--arial-black);
                font-size: 1.1em;
            }

#other-info{
    margin-top: 10px;
    padding: 0 10px 10px 10px;
}

    #other-info h2{
        text-align: center;
        border-bottom: 1px solid var(--very-dark-red);
        margin: 0 0 5px 0;
    }

    #other-info span{
        font-weight: bold;
    }

@media screen and (max-width: 1023px) {
    h1 {
        margin-top: 45px;
    }

    #achievements-skills section {
        margin-top: 10px;
    }

    #contact-info {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        grid-template-areas: 
            ". ."
            ". ."; 
    }

    .tech-sector {
        border-bottom: 1px solid var(--very-dark-red);
    }

        .tech-sector:last-child {
            border-bottom: none;
        }

        .tech-logos li.tech-sector-name {
            border: 1px dashed var(--very-dark-red);
            border-radius: 10px;
            justify-content: center;
        }
        
        .tech-logos li {
            width: 50%;
        }

        #education h2 {
            text-align: center;
        }

            .educator {
                flex-wrap: wrap;
            }
                .educator:first-child {
                    border-bottom: 1px solid var(--very-dark-red);
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                }

                .educator-logo {
                    border-bottom: 1px dashed var(--very-dark-red);
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                }

                .educator-name-and-time {
                    border-bottom: 1px dashed var(--very-dark-red);
                    flex-grow: 1;
                    margin-bottom: 5px;
                }

                .education-detail {
                    width: 100%;
                    padding-left: 1em;
                }

    .employment-panel h2 {
        text-align: center;
    }

    .employer-and-time {
        justify-content: space-around;
        flex-direction: row-reverse;
        text-align: center;
    }

        .employment-duration {
            display: block;
        }
}

@media screen and (min-width: 1024px) {
    #achievements-skills {
        display: flex;
        margin-top: 10px;
    }

        #achievements-skills section {
            flex-grow: 1;
            flex-basis: 0;
        }

    #achievements-skills section {
        margin-right: 10px;
    }

    #achievements-skills section:last-child {
        margin-right: 0;
    }

    #tech-sectors {
        display: flex;
    }

        .tech-sector {
            flex-grow: 1;
            flex-basis: 0;
            border-right: 1px solid var(--very-dark-red);
        }

            .tech-sector:last-child {
                border-right: none;
            }

            .tech-logos li {
                width: 50%;
            }
            
    #contact-info {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        grid-template-areas: ". . . .";
    }

    #educators {
        display: flex;
        flex-direction: row;
    }

        .educator {
            width: 50%;
        }

        .educator:first-child {
            border-right: 1px solid var(--very-dark-red);
        }

    .employer-logo {
        margin-right: 10px;
    }

    #other-info{
        margin-top: 10px;
        padding: 0 10px 10px 10px;
    }

        #other-info ul{
            display: flex;
            flex-wrap: wrap;
        }

        #other-info li{
            width: 50%;
        }
}

@media print {
    body {
        background: white;
    }

    header {
        display: none;
    }

    h1 {
        margin-top: 0;
    }

    .tagline {
        color: #ababab;
    }

    .panel {
        background: white;
    }

    .employment-panel,
    #education,
    #other-info {
        border: none;
    }

        .employment-panel h2,
        #education h2,
        #other-info h2 {
            border-top: 1px solid var(--very-dark-red);
        }

    #contact-info,
    #cio {
        break-after: page;
    }

    #achievements-skills section {
        margin-top: 10px;
    }

    #contact-info {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        grid-template-areas: ". . . .";
    }

        #contact-info section {
            border: none;
        }

            #contact-info h2 {
                border: none;
                font-size: 1em;
            }

            #contact-info a,
            #contact-info p { 
                padding: 0;
            }

    #tech-sectors {
        display: flex;
    }

        .tech-sector {
            flex-grow: 1;
            flex-basis: 0;
            border-right: 1px solid var(--very-dark-red);
        }
            
            .tech-sector:last-child {
                border-right: none;
            }
        
            .tech-logos li {
                width: 100%;
            }
            
            .tech-logos li a {
                flex-direction: row;
                justify-content: flex-start;
            }
            
            .tech-logos li a img {
                margin: 0 5px;
                height: 1em;
            }
    
    #education h2 {
        border-bottom-style: dashed;
    }
        .educator:first-child {
            margin-bottom: 10px;
        }

        .educator-name-and-time {
            width: 30%;
        }

    .employment-panel {
        margin-top: 0;
    }

    .employer-logo {
        margin-right: 10px;
    }

        .employer-and-time {
            border-top-style: dashed;
            border-bottom-style: dashed;
        }

        .employment-duration {
            display: inline;
        }

    #other-info h2 {
        border-bottom-style: dashed;
        text-align: left;
    }

        #other-info ul{
            display: flex;
            flex-wrap: wrap;
        }

            #other-info li{
                width: 50%;
            }
}
