main {
    padding: 0 1% 1% 1%;
}

h1, h2, h3 {
    color:var(--dark-red);
    font-family: var(--arial-black);
}

main p, main ul {
    margin: 0;
}

.panel {
    background: var(--background-gray);
    color: black;
    font-family: var(--arial);
    border: 1px solid var(--very-dark-red);
    border-radius: 10px;
}

h1 {
    font-size: 3em;
    font-family: var(--spantaran);
    text-align: center;
    margin: 0;
}

#page-description {
    text-align: center;
    font-size: 1.2em;
    font-family: var(--arial);
    font-weight: bold;
    padding: 0;
    color: white;
}

#about-options {
    margin-top: 10px;
}
    #about-options a {
        transition: transform .1s linear;
    }

        #about-options a:hover {
            transform: scale(1.01);
        }

            #about-options a:hover .click-for-info {
                text-decoration: underline;
            }

    #about-options h2 {
        text-align: center;
        border-bottom: 1px solid var(--very-dark-red);
        margin: 0 5px;
    }

    #about-options div {
        padding: 10px 0 10px 10px;
        text-align: center;
    }

    #about-options img {
        height: 150px;
        margin: 5px 0;
    }

    #about-options .click-for-info {
        font-weight: bold;
    }

@media screen and (max-width: 1023px) {
    h1 {
        margin-top: 45px;
        text-shadow: 0 2px 5px black;
    }

    #about-options a {
        display: block;
    }

    #about-options a:last-child {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        text-shadow: 0 2px 5px black;
    }
    #about-options {
        display: flex;
    }

    #about-options a {
        flex-grow: 1;
        flex-basis: 0;
        margin-right: 10px;
    }

    #about-options a:last-child {
        margin-right: 0;
    }
}
