:root {
    --dark-red: #8B0000;
    --very-dark-red: #660000;
    --background-black: #313131;
    --spantaran: spantaran, Arial Black, Arial, Helvetica, sans-serif;
    --arial-black: Arial Black, Arial, Helvetica, sans-serif;
    --arial: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: spantaran;
    src: url(../fonts/spantaran.ttf) format("truetype");
    font-display: swap;
}

a {
    text-decoration: none;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--background-black);
}

#nav-button {
    position: absolute;
    top :2%;
    right: 1%;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    z-index: 20;
}
    #nav-button-box {
        position: relative; 
        width: 40px;
        height: 24px;
        display: inline-block;
    }

    #nav-button-inner,
    #nav-button-inner::before,
    #nav-button-inner::after {
        position: absolute;
        width: 40px;
        height: 4px;
        border-radius: 4px;
        background-color: var(--dark-red);
        display: block; 
    }

        #nav-button-inner {
            top: 50%;
            top: auto;
            margin-top: -2px; 
            bottom: 0;
            transition: 0.13s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
        }

            #nav-button-inner::before {
                content: "";
                top: -10px;
                transition: 
                    top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), 
                    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
            }
            
            #nav-button-inner::after {
                content: "";
                top: -20px;
                bottom: -10px; 
                transition: 
                    top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), 
                    opacity 0s linear;
            }

    #nav-button.is-active #nav-button-inner,
    #nav-button.is-active #nav-button-inner::before,
    #nav-button.is-active #nav-button-inner::after {
        background-color: white; 
    }

    #nav-button:hover.is-active #nav-button-inner,
    #nav-button:hover.is-active #nav-button-inner::before,
    #nav-button:hover.is-active #nav-button-inner::after {
        background-color: black; 
    }

        #nav-button.is-active #nav-button-inner {
            transform: translate3d(0, -10px, 0) rotate(-45deg);
            transition-delay: 0.22s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
        }

            #nav-button.is-active #nav-button-inner::before {
                top: 0;
                transform: rotate(90deg);
                transition: 
                    top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
                    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); 
            }

            #nav-button.is-active #nav-button-inner::after {
                top: 0;
                opacity: 0;
                transition: 
                    top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
                    opacity 0s 0.22s linear; 
            }

    #nav-button:hover #nav-button-inner,
    #nav-button:hover #nav-button-inner::before,
    #nav-button:hover #nav-button-inner::after {
        background-color: white; 
    }

#nav-menu,
#nav-menu-frame {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: 300ms right cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 10;
}

#nav-menu {
    background: var(--dark-red);
}

#nav-menu-frame {
    background: black;
    transform: scale(1.1);
}

    #nav-menu.is-active,
    #nav-menu-frame.is-active {
        right: 0;
    }

    #nav-menu > a {
        font-size: 3em;
        font-family: var(--spantaran);
        color:white;
    }

    #nav-menu > a:hover {
        color: black;
    }

    #social-logos {
        margin-top: 10px;
    }

        #social-logos a {
            margin-left: 2px;
        }

            #social-logos a img:hover {
                transform: scale(1.2);
            }

        #social-logos .social-name {
            font-family: var(--spantaran);
            color:white;
            text-align: center;
            display: none;
            margin: 0;
            padding: 5px 0 0 0;
        }

            #linked-in-link:hover ~ #linked-in-name {
                display: block;
            }

            #facebook-link:hover ~ #facebook-name {
                display: block;
            }

            #github-link:hover ~ #github-name {
                display: block;
            }

            #stack-overflow-link:hover ~ #stack-overflow-name {
                display: block;
            }

@media (max-width: 1023px) {
    #nav-menu,
    #nav-menu-frame {
        width: 100%;
        padding: 50px 5% 0 0;
        clip-path: polygon(0 0, 0 30%, 20% 69%, 110% 100%, 100% 100%, 100% 0);
    }

    #nav-menu {
        right: -100%;
    }

    #nav-menu-frame {
        right: -200%;
    }
}

@media (min-width: 1024px) {
    #nav-menu,
    #nav-menu-frame {
        width: 58%;
        padding: 50px 5% 0 0;
        clip-path: polygon(0 0, 40% 60%, 110% 100%, 100% 100%, 100% 0);
    }
    #nav-menu {
        right: -58%;
    }
    #nav-menu-frame {
        right: -100%;
    }
}
