{{ define "main" }}

<h1>About</h1>
<p id="page-description">What would you like to know about me?</p>

<div id="about-options">
    <a href="/cybersecurity">
        <section class="panel">
            <h2>Cybersecurity</h2>
            <div>
                <p>Seasoned technology leader who works across the entire spectrum of cybersecurity concerns.</p>
                
                {{ $web := resources.Get "img/icons/others/shield.svg" | minify }}
                <img src="{{ $web.RelPermalink }}" alt="Web Icon" />
                
                <p class="click-for-info">Click To Find Out More</p>
            </div>
        </section>
    </a>
    
    <a href="/development">
        <section class="panel">
            <h2>Web Development</h2>
            <div>
                <p>Full stack C# .NET Core web developer with a specialism in business process and data systems.</p>
                
                {{ $web := resources.Get "img/icons/others/web-red.svg" | minify }}
                <img src="{{ $web.RelPermalink }}" alt="Web Icon" />

                <p class="click-for-info">Click To Find Out More</p>
            </div>
        </section>
    </a>
</div>

{{ end }}