{{ define "main" }}

<h1>Jonathon Smith</h1>
<p class="tagline">Leader, mentor &amp; communicator who builds tech empowered organisations</p>
    
<a id="download-pdf" title="Download PDF" href="/docs/jonathon-smith-cv.pdf" download="Jonathon-Smith-CV.pdf">
    {{ $downloadPdf := resources.Get "img/icons/others/download-pdf.svg" | minify }}
    <img id="download-pdf-img" src="{{ $downloadPdf.RelPermalink }}" alt="Download PDF" />
</a>

<ul class="key-skills">
    <li>C-Suite &amp; board member who leads from the front</li>
    <li>Deep technical knowledge in software, data &amp; IT</li>
    <li>Political science degree trained communicator</li>
</ul>

<div id="achievements-skills">
    <section class="panel">
        <h2>Management</h2>
        <ul>
            <li><span class="skill-name">Growth</span>: Created tech that built a multi-million £ automotive financial services company</li>
            <li><span class="skill-name">Sales</span>: Won SME &amp; multinational customers through written tenders &amp; presentations</li>
            <li><span class="skill-name">Investors</span>: Led successful M&amp;A processes, managed investors &amp; raised finance</li>
            <li><span class="skill-name">Finance</span>: Delivered oversight of company accounts &amp; vehicle finance risk</li>
            <li><span class="skill-name">People</span>: Managed 6 reports and a staff of 10 from both technical &amp; non-technical teams</li>
            <li><span class="skill-name">Budget</span>: As director agreed &amp; provided final sign off on £5m+ company budget</li>
        </ul>
    </section>
    
    <section class="panel">
        <h2>Software &amp; Data</h2>
        <ul>
            <li><span class="skill-name">Full Stack Developer</span>: Highly skilled in C# ASP.NET Core, MSSQL, TypeScript &amp; more</li>
            <li><span class="skill-name">Data</span>: Built multi-award winning data analytics systems to process £2bn in vehicle data</li>
            <li><span class="skill-name">Architect</span>: Architected the key line of business application used to run the company</li>
            <li><span class="skill-name">Mentor</span>: Trained &amp; mentored teams of software developers, sysadmins &amp; DBAs</li>
            <li><span class="skill-name">Agile</span>: Used agile, TDD &amp; other modern software development methodologies</li>
            <li><span class="skill-name">Process</span>: Documented, digitised &amp; improved 20+ business processes</li>
        </ul>
    </section>

    <section class="panel">
        <h2>IT &amp; Security</h2>
        <ul>
            <li><span class="skill-name">Communication</span>: Can explain technology to the technical &amp; non-technical alike</li>
            <li><span class="skill-name">Security</span>: Exceeded rigorous Financial Conduct Authority (FCA) security standards</li>
            <li><span class="skill-name">Infrastructure</span>: Planned &amp; executed multiple IT upgrade cycles</li>
            <li><span class="skill-name">Networking</span>: Implemented &amp; maintained complex enterprise grade networks</li>
            <li><span class="skill-name">Qualified</span>: Trained in security through SANS SEC401</li>
            <li><span class="skill-name">Facilities</span>: Managed complex facilities &amp; project managed a £250k office refurbishment</li>
        </ul>
    </section>
</div>

<section id="tech-experience" class="panel">
    <h2>Technology Experience</h2>
    <div id="tech-sectors">
        <div class="tech-sector">
            <h3>Data</h3>
            <ul class="tech-logos">
                {{ partial "tech" (dict "id" "sql-server"     "alt" "SQL Server"     "href" "https://microsoft.com/sql-server") }}
                {{ partial "tech" (dict "id" "postgresql"     "alt" "Postgresql"     "href" "https://postgresql.org/") }}
                {{ partial "tech" (dict "id" "mysql"          "alt" "MySQL"          "href" "https://www.mysql.com/") }}
                {{ partial "tech" (dict "id" "sisense"        "alt" "Sisense"        "href" "https://periscopedata.com/") }}
                {{ partial "tech" (dict "id" "ef-core"        "alt" "EF Core"        "href" "https://docs.microsoft.com/ef/") }}
                {{ partial "tech" (dict "id" "ado-dot-net"    "alt" "ADO.NET"        "href" "https://docs.microsoft.com/dotnet/framework/data/adonet/") }}
                {{ partial "tech" (dict "id" "access"         "alt" "Access"         "href" "https://microsoft.com/microsoft-365/access") }}
                {{ partial "tech" (dict "id" "excel"          "alt" "Excel"          "href" "https://microsoft.com/microsoft-365/excel") }}
            </ul>
        </div>
        <div class="tech-sector">
            <h3>Tooling</h3>
            <ul class="tech-logos">
                {{ partial "tech" (dict "id" "docker"         "alt" "Docker"         "href" "https://docker.com/") }}
                {{ partial "tech" (dict "id" "git"            "alt" "Git"            "href" "https://git-scm.com/") }}
                {{ partial "tech" (dict "id" "node"           "alt" "Node"           "href" "https://nodejs.org/") }}
                {{ partial "tech" (dict "id" "npm"            "alt" "NPM"            "href" "https://npmjs.com/") }}
                {{ partial "tech" (dict "id" "visual-studio"  "alt" "VisualStudio"   "href" "https://visualstudio.com/") }}
                {{ partial "tech" (dict "id" "vs-code"        "alt" "VS Code"        "href" "https://code.visualstudio.com/") }}
                {{ partial "tech" (dict "id" "inkscape"       "alt" "Inkscape"       "href" "https://inkscape.org/") }}
                {{ partial "tech" (dict "id" "yarn"           "alt" "Yarn"           "href" "https://yarnpkg.com/") }}
            </ul>
        </div>
        <div class="tech-sector">
            <h3>Frameworks</h3>
            <ul class="tech-logos">
                {{ partial "tech" (dict "id" "dotnet-core"    "alt" ".NET Core"      "href" "https://dotnet.microsoft.com/") }}
                {{ partial "tech" (dict "id" "webpack"        "alt" "Webpack"        "href" "https://webpack.js.org/") }}
                {{ partial "tech" (dict "id" "x-unit"         "alt" "xUnit"          "href" "https://xunit.net/") }}
                {{ partial "tech" (dict "id" "coverlet"       "alt" "Coverlet"       "href" "https://github.com/coverlet-coverage") }}
                {{ partial "tech" (dict "id" "autofac"        "alt" "Autofac"        "href" "https://autofac.org/") }}
                {{ partial "tech" (dict "id" "gulp"           "alt" "Gulp"           "href" "https://gulpjs.com/") }}
                {{ partial "tech" (dict "id" "hugo"           "alt" "Hugo"           "href" "https://gohugo.io/") }}
                {{ partial "tech" (dict "id" "mapbox"         "alt" "Mapbox"         "href" "https://mapbox.com/") }}
            </ul>
        </div>
        <div class="tech-sector">
            <h3>Languages</h3>
            <ul class="tech-logos">
                {{ partial "tech" (dict "id" "c-sharp"        "alt" "C#"             "href" "https://docs.microsoft.com/dotnet/csharp/") }}
                {{ partial "tech" (dict "id" "vba"            "alt" "VBA"            "href" "https://docs.microsoft.com/office/vba/") }}
                {{ partial "tech" (dict "id" "typescript"     "alt" "TypeScript"     "href" "https://www.typescriptlang.org/") }}
                {{ partial "tech" (dict "id" "javascript"     "alt" "JavaScript"     "href" "https://tc39.es/ecma262/") }}
                {{ partial "tech" (dict "id" "html"           "alt" "HTML"           "href" "https://html.spec.whatwg.org/") }}
                {{ partial "tech" (dict "id" "css"            "alt" "CSS"            "href" "https://www.w3.org/Style/CSS/specs.en.html") }}
                {{ partial "tech" (dict "id" "svg"            "alt" "SVG"            "href" "https://www.w3.org/TR/SVG2/") }}
                {{ partial "tech" (dict "id" "less"           "alt" "Less"           "href" "https://lesscss.org/") }}
            </ul>
        </div>
        <div class="tech-sector">
            <h3>Infrastructure</h3>
            <ul class="tech-logos">
                {{ partial "tech" (dict "id" "azure"          "alt" "Azure"          "href" "https://azure.microsoft.com/") }}
                {{ partial "tech" (dict "id" "windows-server" "alt" "WinSrv"         "href" "https://microsoft.com/windows-server") }}
                {{ partial "tech" (dict "id" "ubiquiti"       "alt" "Ubiquiti"       "href" "https://ui.com/") }}
                {{ partial "tech" (dict "id" "juniper"        "alt" "Juniper"        "href" "https://juniper.net/") }}
                {{ partial "tech" (dict "id" "hpe"            "alt" "HPE"            "href" "https://hpe.com/") }}
                {{ partial "tech" (dict "id" "avaya"          "alt" "Avaya"          "href" "https://avaya.com/") }}
                {{ partial "tech" (dict "id" "apc"            "alt" "APC"            "href" "https://apc.com/") }}
                {{ partial "tech" (dict "id" "papertrail"     "alt" "Papertrail"     "href" "https://www.papertrail.com/") }}
            </ul>
        </div>
    </div>
</section>

<div id="contact-info">
    <section class="panel">
        <h2>Email</h2>
        <a href="mailto:cv@crashdive.co.uk">cv@crashdive.co.uk</a>
    </section>
    <section class="panel">
        <h2>Phone</h2>
        <p>Request Via Email</p>
    </section>
    <section class="panel">
        <h2>Website</h2>
        <a href="https://www.crashdive.co.uk/">crashdive.co.uk</a>
    </section>
    <section class="panel">
        <h2>Location</h2>
        <p>Kettering, UK</p>
    </section>
</div>

<section id="education" class="panel">
    <h2>Education</h2>
    <ul id="educators">
        <li class="educator">
            {{ partial "educator" (dict
                "id" "aberystwyth" 
                "name" "Aberystwyth University" 
                "time" "2006 to 2009" 
                "href" "https://www.aber.ac.uk/interpol/"
            )}}
            <ul class="education-detail">
                <li>BScEcon International Politics and the Third World</li>
                <li>Graduated 1<sup>st</sup> Class with Honours</li>
                <li>Awarded Competitive Open Scholarship</li>
            </ul>
        </li>
        <li class="educator">
            {{ partial "educator" (dict
                "id" "latimer" 
                "name" "Latimer Arts College" 
                "time" "1999 to 2006" 
                "href" "https://www.latimer.org.uk/"
            )}}
            <ul class="education-detail">
                <li>3 A-Levels: All B in Law, History &amp; English</li>
                <li>10 GSCEs: All A-C including Maths &amp; English</li>
                <li>Head of Student Council &amp; Student Governor Rep</li>
            </ul>
        </li>
    </ul>
</section>

<section id="cio" class="panel employment-panel">
    <h2>Chief Information Officer</h2>
    {{ partial "employer" (dict
        "id" "fleet-assist"
        "name" "Fleet Assist"
        "time" "Nov 2009 to Jan 2020"
        "duration" "10 yrs 3 mos"
        "href" "https://www.fleetassist.co.uk/"
    )}}
    <div class="employment-description">
        <p>After studying and developing a specialism in the political use of the internet at university, I decided to pursue a career in technology.</p>
        <p>I joined Fleet Assist as a small family business of 10 people with the task of professionalising their IT and security setup. Over the next 10 years we grew it into a 50 employee multi-million revenue provider of services to the automotive financial services industry.</p>
        <p>Initially I performed all development, data and IT roles. As we grew the business and built my teams, the role evolved into an executive who led the technology vision for the company using the broad range of technical skills gained from the early growth phase.</p>
        <ul>
            <li>
                <span class="employment-skill">Software Development</span>: Developed from a greenfield project, code reviewed and project managed the web based "Atlas" system which was the company's primary system.
            </li>
            <li>
                <span class="employment-skill">Data Analytics</span>: Designed and built a mulit-award winning (Fleet News and Alphabet) data analytics platform to process over £2bn in automotive maintenance data.
            </li>
            <li>
                <span class="employment-skill">IT</span>: Created and managed an on-prem/cloud hybrid Hyper-V based Windows Server environment within a decommissioned bank vault and Azure.
            </li>
            <li>
                <span class="employment-skill">People</span>: Line managed 6 direct reports, with a team of 10 in total across the IT, Software Development, Analytics, Data Administration and Rental Finance departments.
            </li>
            <li>
                <span class="employment-skill">Mentorship</span>: Shepherded technical staff through multi year apprenticeships and industry certification programs as well as acting as a guide for young staff.
            </li>
            <li>
                <span class="employment-skill">Networking</span>: Procured, configured and monitored a fully redundant network using Juniper firewalls and switches combined with Ubiquiti access points.
            </li>
            <li>
                <span class="employment-skill">Telephony</span>: Scaled an Avaya PABX, call reporting and recording system from a 1 to 20+ seat call centre.
            </li>
            <li>
                <span class="employment-skill">Security</span>: Adhered to security best practices which were regularly tested through passing IT security audits from our FCA regulated customer base.
            </li>
            <li>
                <span class="employment-skill">Procurement</span>: Completed multiple IT technology refreshes within budgets ranging from £1000 up to £100k 
            </li>
            <li>
                <span class="employment-skill">Facilities</span>: Managed the challenging environment of a 15<sup>th</sup> century manor house and a £250k modern office refurbishment.
            </li>
        </ul>
    </div>
</section>

<section id="director" class="panel employment-panel">
    <h2>Director</h2>
    {{ partial "employer" (dict
        "id" "fleet-assist"
        "name" "Fleet Assist"
        "time" "Jul 2017 to Aug 2019"
        "duration" "2 yrs 1 mos"
        "href" "https://www.fleetassist.co.uk/"
    )}}
    <div class="employment-description">
        <p>In 2016 the 2 founders of Fleet Assist decided they would like to exit the business. To realise this the commercial director and I engineered a sale process that resulted in multiple credible offers and sold the business to a private equity group.</p>
        <p>As part of the sale I received equity and was tasked with ensuring a smooth transition with continued growth. I achieved both goals and after 2 years exited in Jan 2020.</p>
        <ul>
            <li>
                <span class="employment-skill">Sales</span>: Won multiple new contracts by working with the sales team as the lead tender writer, presenter and implementation manager for new customers.
            </li>
            <li>
                <span class="employment-skill">Customer Relations</span>: Developed close personal relationships with senior leaders in all our customers.
            </li>
            <li>
                <span class="employment-skill">Company Face</span>: Attended and gave presentations at industry events such as Vehicle Maintenance Manager Meetings, FleetNet and BVRLA forums.
            </li>
            <li>
                <span class="employment-skill">M&amp;A</span>: Involved in further M&A and refinancing activities, with solid experience examining company accounts, managing investors and raising capital.
            </li>
            <li>
                <span class="employment-skill">Risk Management</span>: Built tools to track our exposure and provided final sign off on the supply of vehicles within our multi-million rental finance business.
            </li>
        </ul>
    </div>
</section>

<section id="trampoline-coach" class="panel employment-panel">
    <h2>Trampoline Coach</h2>
    {{ partial "employer" (dict
        "id" "ntga"
        "name" "Northamptonshire Trampoline Gymnastics Academy"
        "time" "Jul 2009 to Dec 2019"
        "duration" "10 yrs 5 mos"
        "href" "https://www.ntga.co.uk/"
    )}}
    <div class="employment-description">
        <p>I have coached professionally in community clubs, for the council and school PE classes. I was sadly forced to stop when the venue I used closed and no others were available.</p> 
        <ul>
            <li>
                <span class="employment-skill">Leader</span>: Led teams of coaches and classes of 30+ gymnasts from ages 5 to 60+.
            </li>
            <li>
                <span class="employment-skill">Planner</span>: Designed and delivered classes for GCSE and A-Level students.
            </li>
            <li>
                <span class="employment-skill">Qualified</span>: Trampoline, Freestyle Gymnastics, Men's Artistic Gymnastics &amp; Diving.
            </li>
        </ul>
    </div>
</section>

<section id="other-info" class="panel">
    <h2>Other Information</h2>
    <ul>
        <li>British Citizen</li>
        <li>Clean Driving Licence</li>
        <li>Native English Speaker</li>
        <li>Passed Enhanced DBS</li>
        <li>Safeguarding Trained</li>
        <li>First Aid Qualified</li>
    </ul>
</section>

{{ end }}

{{ define "partials/tech" }}
    {{ $techLogo := resources.Get (print "img/icons/techs/" .id ".svg") | minify }}
    <li>
        <a href="{{ .href }}">
            <img id="{{ .id }}" src="{{ $techLogo.RelPermalink }}" alt="{{ .alt }}" />
            <p>{{ .alt }}</p>
        </a>
    </li>
{{ end }}

{{ define "partials/educator" }}
    {{ $educatorLogo := resources.Get (print "img/educators/" .id ".svg") | minify }}
    <a href="{{ .href }}" class="educator-logo">
        <img id="{{ .id }}-logo" src="{{ $educatorLogo.RelPermalink }}" alt="{{ .name }} Logo" />
    </a>
    <div class="educator-name-and-time">
        <div class="educator-name">{{ .name }}</div>
        <div class="educator-time">{{ .time }}</div>
    </div>
{{ end }}

{{ define "partials/employer" }}
    {{ $educatorLogo := resources.Get (print "img/employers/" .id ".svg") | minify }}
    <div class="employer-and-time">
        <a href="{{ .href }}" class="employer-logo" >
            <img id="{{ .id }}-logo" src="{{ $educatorLogo.RelPermalink }}" alt="{{ .name }} Logo" />
        </a>
        <div class="employer-name-and-time">
            <span class="employer-name">{{ .name }}</span>
            <span class="employment-time">{{ .time }}</span>
            <span class="employment-duration">({{ .duration }})</span>
        </div>
    </div>
{{ end }}