{{ define "main" }}

<h1>Jonathon Smith</h1>
<p id="tagline">Trampoline Gymnastics Coach</p>

<div class="contact-info" id="contact-info-first-page">
    <a class="email" href="mailto:cv@crashdive.co.uk">cv@crashdive.co.uk</a>
    <a class="phone" href="tel:+447786003999">07786003999</a>
    <a class="location" href="https://www.google.co.uk/maps/place/Kettering/">Kettering, UK</a>
</div>

<a id="download-pdf" title="Download PDF" href="/docs/jonathon-smith-cv.pdf" download="Jonathon-Smith-CV.pdf">
    {{ $downloadPdf := resources.Get "img/icons/others/download-pdf.svg" | minify }}
    <img id="download-pdf-img" src="{{ $downloadPdf.RelPermalink }}" alt="Download PDF" />
</a>

<div id="achievements-skills">
    <section class="panel">
        <h2>Achievements</h2>
        <ul>
            <li><span class="skill-name">Led</span> Kettering Trampoline Club for 2 years</li>
            <li><span class="skill-name">Mentored</span> multiple junior coaches through their qualifications</li>
            <li><span class="skill-name">Ran</span> holiday club gymnastics sessions for 100s of gymnasts</li>
            <li><span class="skill-name">Started</span> mens artistic gymnastics sessions at Kettering Gymnastics Club</li>
            <li><span class="skill-name">Coached</span> as part of Northampton Trampoline Gymnastics for 9 years</li>
        </ul>
    </section>
    
    <section class="panel">
        <h2>Key Skills</h2>
        <ul>
            <li><span class="skill-name">Leadership</span>: Confident in leading groups of gymnasts all the way up to entire clubs</li>
            <li><span class="skill-name">Fun</span>: Recreational specialist who focuses on making gymnastics fun for all </li>
            <li><span class="skill-name">Mentoring</span>: Enjoys helping people grow to fulfil their potential</li>
            <li><span class="skill-name">Qualified</span>: Holds qualifications across a range of gymnastics disciplines</li>
            <li><span class="skill-name">Welcoming</span>: Experienced coaching gymnastics of all ages and abilities</li>
        </ul>
    </section>
</div>

<section id="personal-summary" class="panel">
    <h2>Personal Summary</h2>
    <article>
        <p>Trampoline gymnastics specialist, with 18 years experience coaching all ages &amp; abilities.</p>
        <p>Currently founder &amp; director of <a href="https://www.cybersmith.co.uk">Cybersmith</a>, provider of technology &amp; cybersecurity services.</p>
        <p>Previously Chief Information Officer in the automotive finance sector for over a decade.</p>
        <p>Volunteer Vice-Chairman of Kettering Mind &amp; Governor of Kettering General Hospital.</p>
    </article>
</section>

<section id="qualifications" class="panel">
    <h2>Qualifications</h2>
    <div class="qualification-areas">
        <div class="qualification-areas">
            <h3>Trampolining</h3>
            <ul class="qualification-names">
                <li>
                    <span class="qualification">
                        <abbr class="qualification-name-abbr">L3 M3</abbr>
                        <abbr class="qualification-body">British Gymnastics</sup></abbr>
                        <span class="qualification-name">Level 3 Trampolining Technical Module 3</span>
                    </span>
                </li>
                <li>
                    <span class="qualification">
                        <abbr class="qualification-name-abbr">L3 M2</abbr>
                        <abbr class="qualification-body">British Gymnastics</sup></abbr>
                        <span class="qualification-name">Level 3 Trampolining Technical Module 2</span>
                    </span>
                </li>
                <li>
                    <span class="qualification">
                        <abbr class="qualification-name-abbr">L3 M1</abbr>
                        <abbr class="qualification-body">British Gymnastics</sup></abbr>
                        <span class="qualification-name">Level 3 Trampolining Technical Module 1</span>
                    </span>
                </li>
                <li>
                    <span class="qualification">
                        <abbr class="qualification-name-abbr">L3</abbr>
                        <abbr class="qualification-body">British Gymnastics</sup></abbr>
                        <span class="qualification-name">Level 3 Generic</span>
                    </span>
                </li>
                <li>
                    <span class="qualification">
                        <abbr class="qualification-name-abbr">CLUB</abbr>
                        <abbr class="qualification-body">British Gymnastics</sup></abbr>
                        <span class="qualification-name">Double Mini Trampoline Club Coach</span>
                    </span>
                </li>
                <li>
                    <span class="qualification">
                        <abbr class="qualification-name-abbr">L2</abbr>
                        <abbr class="qualification-body">British Gymnastics</sup></abbr>
                        <span class="qualification-name">Level 2 Trampolining Coach</span>
                    </span>
                </li>
                <li>
                    <span class="qualification">
                        <abbr class="qualification-name-abbr">L1</abbr>
                        <abbr class="qualification-body">British Gymnastics</sup></abbr>
                        <span class="qualification-name">Level 1 Trampolining Coach</span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="qualification-areas">
            <h3>Artistic Gymnastics</h3>
            <ul class="qualification-names">
                <li>
                    <span class="qualification">
                        <abbr class="qualification-name-abbr">L1</abbr>
                        <abbr class="qualification-body">British Gymnastics</sup></abbr>
                        <span class="qualification-name">Level 1 Mens Artistic Gymnastics Coach</span>
                    </span>
                </li>
                <li>
                    <span class="qualification">
                        <abbr class="qualification-name-abbr">L3</abbr>
                        <abbr class="qualification-body">British Gymnastics</sup></abbr>
                        <span class="qualification-name">Level 3 Freestyle Gymnastics Coach</span>
                    </span>
                </li>
                <li>
                    <span class="qualification">
                        <abbr class="qualification-name-abbr">L2</abbr>
                        <abbr class="qualification-body">British Gymnastics</sup></abbr>
                        <span class="qualification-name">Level 2 Freestyle Gymnastics Coach</span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="qualification-areas">
            <h3>Other Sports</h3>
            <ul class="qualification-names">
                <li>
                    <span class="qualification">
                        <abbr class="qualification-name-abbr">L1</abbr>
                        <abbr class="qualification-body">Aquatics GB</sup></abbr>
                        <span class="qualification-name">Level 1 Diving Coach</span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="qualification-areas">
            <h3>Degree &amp; Education</h3>
            <ul class="qualification-names">
                <li>
                    <a href="https://www.aber.ac.uk/">1st Class BScEcon International Politics and the Third World (Aberystwyth University)</a>
                </li>
                <li>
                    <a href="https://www.latimer.org.uk/">4 A Levels &amp; 10 GCSEs A-C including Maths &amp; English (Latimer College)</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<div class="contact-info" id="contact-info-second-page">
    <a class="email" href="mailto:cv@jonathonsmith.co.uk">cv@jonathonsmith.co.uk</a>
    <a class="phone" href="tel:+447786003999">07786003999</a>
    <a class="location" href="https://www.google.co.uk/maps/place/Kettering/">Kettering, UK</a>
</div>

<section class="panel employment-panel">
    <h2>Head Coach</h2>
    <a href="https://www.crashdive.co.uk/" class="employer-and-time" >
        <span class="employer-name">Kettering Trampoline Club</span>
        <span class="employment-time">Sept 2018 to Aug 2020 (2 yrs)</span>
    </a>
    <div class="employment-description">
        <p>Ran the club as the only coach for 2 years after Northampton closed their club in Kettering.</p>
        <p>Closed the club due to being unable to train for 2 years during COVID-19 pandemic.</p>
    </div>
</section>

<section class="panel employment-panel">
    <h2>Coach</h2>
    <a href="https://www.ketteringgymnasticsclub.co.uk/" class="employer-and-time" >
        <span class="employer-name">Kettering Gymnastics Club</span>
        <span class="employment-time">Sept 2018 to Aug 2020 (8 yrs 6 mos)</span>
    </a>
    <div class="employment-description">
        <p>Started a small Mens Artistic Gymnastics group at the Kettering Gymnastics club which at that time specialised in Womens Gymnastics.</p>
        <p>Left to focus on my professional career.</p>
    </div>
</section>

<section class="panel employment-panel">
    <h2>Senior Coach</h2>
    <a href="https://www.ntga.co.uk/" class="employer-and-time" >
        <span class="employer-name">Northampton Trampoline Gymnastics Academy</span>
        <span class="employment-time">Jun 2009 to Sept 2018 (9 yrs 4 mos)</span>
    </a>
    <div class="employment-description">
        <p>Senior coach who routinely led sessions as the most qualified coach.</p>
        <p>Left when the venue we used was closed to external use and Northampton closed the club in Kettering.</p>
    </div>
</section>

{{ end }}
