<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="Description" content="{{ .Description }}" />

        {{ if .IsHome }}
            <title>Crash Dive - Jonathon Smith</title>
        {{else}}
            <title>Crash Dive - Jonathon Smith - {{ .Page.Title }}</title>
        {{ end }}

        {{ $faviconAppleTouch := resources.Get "/favicon-apple-touch.png" }}
        {{ $favicon32 := resources.Get "/favicon-32x32.png" }}
        {{ $favicon16 := resources.Get "/favicon-16x16.png" }}
        {{ $favicon := resources.Get "/favicon.ico" }}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ $faviconAppleTouch.RelPermalink }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ $favicon32.RelPermalink }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ $favicon16.RelPermalink }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ $favicon.RelPermalink }}" />
        
        {{ define "partials/font" }}
            {{ $font := resources.Get (print "fonts/" . ) }}
            {{ $fontFingerprint := $font | fingerprint "sha512" }}
            <link href="{{ $font.RelPermalink }}" rel="preload" as="font" type="font/ttf" integrity="{{ $fontFingerprint.Data.Integrity }}" crossorigin="anonymous">
        {{ end }}
        {{ partial "font" "spantaran.ttf" }}

        {{ define "partials/css" }}
            {{ $css := resources.Get (print "css/" . ".css") | minify | fingerprint "sha512" }}
            <link href="{{ $css.RelPermalink }}" rel="stylesheet" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous" />
        {{ end }}
        {{ partial "css" "base" }}
        {{ range .Params.css }}
            {{ partial "css" . }}
        {{ end }}

        {{ define "partials/ts" }}
            {{ $ts := resources.Get (print "ts/" . ".ts") | js.Build | minify | fingerprint "sha512" }}
            <script src="{{ $ts.RelPermalink }}" defer integrity="{{ $ts.Data.Integrity }}" crossorigin="anonymous"></script>
        {{ end }}
        {{ partial "ts" "nav-menu" }}
        {{ if isset .Params "ts" }}
            {{ range .Params.ts }}
                {{ partial "ts" . }}
            {{ end }}
        {{ end }}
    </head>
    <body>
        <header>
            <button id="nav-button" class="is-closed" type="button" aria-label="Opens navigation menu">
                <div class="nav-button-line" id="nav-button-line-top"></div>
                <div class="nav-button-line" id="nav-button-line-mid"></div>
                <div class="nav-button-line" id="nav-button-line-bot"></div>
            </button>
            <div id="nav-menu-frame"></div>
            <nav id="nav-menu">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
                <div id="social-logos">
                    {{ define "partials/social-link" }}
                        {{ $logo := resources.Get (print "img/icons/socials/" .img ".svg") | minify }}
                        <a id="{{ .img }}-link" href="{{ .url }}">
                            <img width="30" height="30" src="{{ $logo.RelPermalink }}" alt="LinkedIn logo" />
                        </a>
                    {{ end }}

                    {{ partial "social-link" (dict "name" "LinkedIn"       "img" "linked-in"      "url" "https://www.linkedin.com/in/jonathon-ronald-smith/") }}
                    {{ partial "social-link" (dict "name" "Facebook"       "img" "facebook"       "url" "https://www.facebook.com/jonathon.ronald.smith/") }}
                    {{ partial "social-link" (dict "name" "GitHub"         "img" "github"         "url" "https://www.github.com/crash-dive/") }}
                    {{ partial "social-link" (dict "name" "WhatsApp"       "img" "whats-app"      "url" "https://wa.me/447786003999") }}

                    <p class="social-name" id="linked-in-name">LinkedIn</p>
                    <p class="social-name" id="facebook-name">Facebook</p>
                    <p class="social-name" id="github-name">Github</p>
                    <p class="social-name" id="whats-app-name">WhatsApp</p>
                </div>
            </nav>
        </header>
        <main>
            {{ block "main" . }}
                {{ .Content }}
            {{ end }}
        </main>
    </body>
</html>
