{{ define "main" }}

<div id="name-callout">
    <h1>Jonathon Smith</h1>
    <ul>
        <li>Gymnastics Coach</li> 
        <li>Cybersecurity Leader</li>
        <li>Full Stack Web Developer</li>
    </ul>
</div>

{{ $svg := resources.Get "img/logos/crash-dive-binary.svg" | minify }}
<img id="crash-dive" src="{{ $svg.RelPermalink }}" alt="Outline of a person performing a crashdive filled with binary code" />

<div id="description-callout">
    <p><span id="technology-leader">Who Am I?</span> A tech professional, who also coaches gymnastics. This is a personal site which covers my gymnastics coaching.</p>
    <p>To learn more me professionally check out <a href="https://www.cybersmith.co.uk">Cybersmith</a>.</p>
    <hr class="faded-white-line">
    <p><dfn>Crash Dive</dfn> (Noun) <span id="ipa-definition">/kraʃ.dʌɪv/</span>: A 3&frasl;4 front sommersault performed on the trampoline which takes off from the feet and lands on the back.</p>
</div>

{{ end }}