{{ define "main" }}
    <div id="name-callout">
        <h1>Jonathon Smith</h1>
        <ul>
            <li>C-Suite &amp; Board Executive</li>
            <li>Full Stack Developer</li> 
            <li>Trampoline Coach</li>
        </ul>
    </div>

    {{ $svg := resources.Get "images/logos/crash-dive-binary.svg" | minify }}
    <img id="crash-dive" src="{{ $svg.RelPermalink }}" alt="Outline of a person performing a crashdive filled with binary code" />

    <div id="description-callout">
        <p><span id="technology-leader">Technology Leader</span> who is equally at home in the boardroom as they are writing software, performing data analytics, building server infrastructure or teaching you to back somersault.</p>
        <p>To learn more please see my <a href="/about">about me</a> page.</p>
        <hr class="faded-white-line">
        <p><dfn>Crash Dive</dfn> (Noun) <span id="ipa-definition">/kraʃ.dʌɪv/</span>: A 3&frasl;4 front sommersault performed on the trampoline which takes off from the feet and lands on the back.</p>
    </div>
 {{ end }}